.l-customers {
    padding: 6rem 0 6.8rem;
    text-align: center;
}

.l-customers__heading-1 {
    @include heading-1;
}

.l-customers__heading-2 {
    @include heading-2;
}

.l-customer-brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media (min-width: $big-screen-breakpoint) {
    .l-customer-brands {
        flex-direction: row;
    }
}