.l-menubar {
    display: flex;
    padding: 1.4rem 1.6rem 1.4rem 4rem;
}

.l-menus {
    align-items: center;
    color: #050505;
    display: flex;
    flex-grow: 1;
    font-size: 1.3rem;
    gap: 3.2rem;
    justify-content: flex-end;
    padding: 0 3.2rem;
}

.l-menus__item {
    display: inline-block;
    margin: 0;
}

.l-menus__item:hover {
    border-bottom: 0.1rem solid #4a49c9;
    padding-bottom: 1rem;
    color: #4a49c9;
    cursor: pointer;
}