.l-personalize {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-top: 4rem;
    padding: 0 3rem;
}

.l-personalize__left {
    text-align: center;
    flex: 0 1 58rem;
}

.l-personalize__heading-1 {
    @include heading-1;
    color: #000;
    display: none;
}

.l-personalize__heading-2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.l-personalize__heading-2--blue {
    color: #665fc4;
}

.l-personalize__para {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.l-personalize__form {
    width: 100%;
    display: none;
}

.l-personalize__text-input {
    border: 1px solid #665fc4;
    color: #7c7c7c;
    flex-grow: 1;
    padding: 1.3rem 0 1.3rem 3rem;
}

.l-personalize__submit {
    background-color: #665fc4;
    border: none;
    color: #fff;
    padding: 1.5rem 2rem;
}

.l-personalize-image {
    flex: 0 1 591px;
}

@media screen and (min-width: $big-screen-breakpoint) {
    .l-personalize {
        flex-wrap: nowrap;
        gap: 10rem;
        padding: 7rem 3rem 6rem 8rem;
    }

    .l-personalize__left {
        padding-top: 4rem;
        text-align: start;
    }

    .l-personalize__form {
        display: flex;
    }

    .l-personalize__heading-2 {
        font-size: 4rem;
    }
}