.l-topnav {
    background-color: #fcfbff;
    display: flex;
    font-size: 1.1rem;
    gap: 2.4rem;
    justify-content: flex-end;
    opacity: 60%;
    padding: 1rem;
}

.l-topnav--link {
    color: #838383;
    text-decoration-line: none;
}