<section class="l-act-on-it">
    <h1 class="l-act-on-it__heading-1">ACT ON IT</h1>
    <h2 class="l-act-on-it__heading-2">Go Ahead, "Name" See 300% Lift in Email Open Rates</h2>
    {{>button text="GET STARTED FOR FREE"}}
    <p class="l-act-on-it__paragraph-1">14-day free trial. No credit card required.</p>
</section>