<section class="l-conversion">
    <div class="l-conversion-left">
        <h1 class="l-conversion-heading-1">ENGAGE LEADS EFFECTIVELY</h1>
        <h2 class="l-conversion-heading-2">Increase Conversions up to 80%</h2>
        <p class="l-conversion-paragraph-1">Focus on what matters by following up with prospects who are interested based on the engagement stats</p>
        {{>button text="GET STARTED FOR FREE"}}
    </div> 
</section>