<section class="l-customers">
    <h1 class="l-customers__heading-1">LOVED BY BUSINESSES</h1>
    <p class="l-customers__heading-2">Trusted by Over 500+ Businesses Around The World</p>
    <div class="l-customer-brands">
        <img src="/images/Layer 19.png" alt="">
        <img src="/images/Layer 721.png" alt="">
        <img src="/images/Layer 719.png" alt="">
        <img src="/images/Layer 720.png" alt="">
        <img src="/images/Layer 722.png" alt="">
    </div>
</section>