<div class="l-menubar">
    <img src="/images/logo.png" alt="">
    <section class="l-menus">
        <h3 class="l-menus__item">PERSONALIZE VIDEO</h3>
        <h3 class="l-menus__item">FEATURES</h3>
        <h3 class="l-menus__item">RESOURCES</h3>
        <h3 class="l-menus__item">SOLUTIONS</h3>
        <h3 class="l-menus__item">INTEGRATIONS</h3>
        <h3 class="l-menus__item">PRICING</h3>
    </section>
    {{>button text="START CREATING"}}
</div>