<div id="menubar" class="l-menubar">
    <span id="nav-menu" class="l-nav-menu">☰</span>    
    <div class="l-trademark-logo-container">
        <img src="/images/logo.png" alt="" width="103" height="29">
    </div>
    <section class="l-menus">
        <h3 class="l-menus__item">PERSONALIZE VIDEO</h3>
        <h3 class="l-menus__item">FEATURES</h3>
        <h3 class="l-menus__item">RESOURCES</h3>
        <h3 class="l-menus__item">SOLUTIONS</h3>
        <h3 class="l-menus__item">INTEGRATIONS</h3>
        <h3 class="l-menus__item">PRICING</h3>
    </section>
    {{>button text="START CREATING"}}
</div>
<nav id="nav" class="l-nav" style="display: none;">
    <a href="#">PERSONALIZE VIDEO</a>
    <a href="#">FEATURES</a>
    <a href="#">RESOURCES</a>
    <a href="#">SOLUTIONS</a>
    <a href="#">INTEGRATIONS</a>
    <a href="#">PRICING</a>
</nav>