<section class="l-personalize">
    <div class="l-personalize__left">
        <h1 class="l-personalize__heading-1">PERSONALIZED EMAIL CAMPAIGNS</h1>
        <h2 class="l-personalize__heading-2">Hey <span class="l-personalize__heading-2--blue">"Walter White"</span> From Product Hunt</h2>
        <p class="l-personalize__para">
            Don't Just Sell. Truly Connect With Your Prospects by Sending Personalized Videos
        </p>
        <form action="" class="l-personalize__form">
            <input type="text" name="" id="" placeholder="Type your Name and get ready to be surprised" class="l-personalize__text-input">
            <input type="submit" value="PERSONALIZE" class="l-personalize__submit">
        </form>
    </div>
    <img src="/images/product-hunt-image.png" alt="">
</section>