<section class="l-priceband">
    <h1 class="l-priceband__heading-1">Personalized Video Emails</h1>
    <h2 class="l-priceband__heading-2">100 Video Emails/Month</h2>
    <h3 class="l-priceband__heading-3">
        <span class="l-priceband__heading-3-span-1">$10/</span>
        <span class="l-priceband__heading-3-span-2">Month</span>
    </h3>
    <p class="l-priceband__para">
        Unlimited Non-Personalised Video Emails<br>
        *Based on Sales Subscription Plans
    </p>
</section>