<section class="l-refer">
    <h1 class="l-refer-heading-1">REFER AND BENEFIT</h1>
    <h2 class="l-refer-heading-2">
        Refer Hippo Video and Get 600 Personalized Video Emails Credited to Your Account
    </h2>
    <div class="l-refer__units">
        {{>referunit
            imgSrc="/images/Vector Smart Object.png"
            heading="SignUp for Hippo Video"
            firstContentItem="Sign up using business account only."
            secondContentItem="Add your Product Hunt referral code."
            thirdContentItem="Get 100 video emails credited to your account on sign up"
        }}
        {{>referunit
            imgSrc="/images/Vector Smart Object.png"
            heading="Refer your business contacts/friends"
            firstContentItem="Refer your contacts to sign up for Hippo Video."
            secondContentItem="You get additional 50 personalized video emails for every contact you refer."
            thirdContentItem="Refer up to a maximum of 10 contacts."
        }}
        {{>referunit
            imgSrc="/images/Vector Smart Object.png"
            heading="For Existing Users"
            firstContentItem="Sign in with your business account and add the referral code to enjoy the benefits."
        }}
    </div>
</section>