<section class="l-testimonials">
    <h1 class="l-testimonials__heading-1">TESTIMONIALS</h1>
    <h2 class="l-testimonials__heading-2">"Name", We Are Loved By Our Customers</h2>
    <div class="l-testimonial">
        <img src="/images/Layer 23.png" alt="" class="l-testimonial__avatar">
        <div class="l-testimonial__statement">
            <figure>
                <blockquote class="l-testimonial-quote">
                    " I'm absolutely thrilled at the potential that Hippo Video has for us.Hippo Video is helping us serve our customers better, in return our customers are seeing the value. Great work! "
                </blockquote>
                <figcaption>
                    Brian, CEO,<br>
                    The Goulet Pen Company
                </figcaption>
            </figure>
        </div>
        <div class="l-testimonial__statement-left-border"></div>
    </div>
</section>