<nav class="l-topnav">
    <a href="#" class="l-topnav--link">What's new</a>
    <a href="#" class="l-topnav--link">FAQ</a>
    <a href="#" class="l-topnav--link">Blog</a>
    <a href="#" class="l-topnav--link">Login</a>
</nav>